<header>
    <div class="headerRow"></div>
    <div class="title"><h1>LOAC Protocol</h1></div>
    <div class="headerRow"></div>
    <nav>
        <div class="link <%if(title==="index"){%><%-"active"%><%}%>"><div class="underline"><a class="" href="/">Overview</a></div></div>
        <div class="link <%if(title==="addUser"){%><%-"active"%><%}%>"><div class="underline"><a class="active" href="/addUser">Add User</a></div></div>
        <div class="link <%if(title==="addPermission"){%><%-"active"%><%}%>"><div class="underline"><a class="" href="/addPermission">Add Permission</a></div></div>
    </nav>
</header>
